@font-face {
	font-family: 'Unlock';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/unlock/v10/7Au-p_8ykD-cDl72LwLT.woff2)
	format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
	U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
	U+2212, U+2215, U+FEFF, U+FFFD;
}

header {
	top:0;
	padding: 30px;
	border: none;
	background-color: #c41230;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0px;
	font-family: 'Unlock';
	text-align: center;
	background: url("bg_img_WofWgames.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

fieldset{
	border:none;
}

ol, ul {
	font-family: 'Unlock';
	text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

label {
	font-family: 'Unlock';
	text-align: center;
	list-style: none;
}

p {
	font-family: 'Unlock';
	text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Unlock';
	text-align: center;
}



footer {
	margin-top:auto;
	height: 30px;
	font-family: 'Unlock';
	padding: 30px;
	text-align: center;
	background-color: #13284c;
}

p.footer {
	font-family: 'Unlock';
	font-size: 11px;
	text-align: justify;
	color: white;
}

.header-container {
	padding-left: 5px;
	text-align: left;
}

.popout-container {
	background-image: url('bg_img_popout_window.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: 600px;
	margin-top: 50px;
	height: 85vh;
	position:relative;
	right:0px;
	left:0px;
	margin: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.vert-center {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80%;
}

.leaderboard{
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: gray;
}

.home_buttons{
	font-family: 'Unlock';
	text-align: center;
}

button {
	font-family: 'Unlock';
	text-align: center;
}

.container{
	display: flex;
	align-items: center;
	justify-content: center;
}

.playtable {
	width: 400px;
	height: 400px;
	border-collapse: collapse;
}


.gridSquare {
	border: 3px solid white;
}


#chatBox {
	margin: 0 auto;
	overflow: auto;
	width: 380px;
	height: 50px;
}

#grid-user{
	width: 400px;
	height: 400px;
	display: flex;
	flex-wrap: wrap;
	background-color: blue;
	margin: 20px;
}

.grid div {
	width: 40px;
	height: 40px;
}

#grid-opponent {
	width: 400px;
	height: 400px;
	display: flex;
	flex-wrap: wrap;
	background-color: lightgreen;
	margin: 20px;
}

.grid-display {
	width: 400px;
	height: 400px;
	margin: 20px;
	margin-top: 40px;
	background-color: yellow;
}

.destroyer-container{
	width: 80px;
	height: 40px;
	background-color: orange;
	margin: 10px;
	display: flex;
}

.destroyer-container-vertical{
	width: 40px;
	height: 80px;
	background-color: orange;
	margin: 10px;
	display: flex;
	flex-wrap: wrap;
}

.submarine-container{
	width: 120px;
	height: 40px;
	background-color: pink;
	margin: 10px;
	display: flex;
}

.submarine-container-vertical{
	width: 40px;
	height: 120px;
	background-color: pink;
	margin: 10px;
	display: flex;
	flex-wrap: wrap;
}

.cruiser-container{
	width: 120px;
	height: 40px;
	background-color: purple;
	margin: 10px;
	display: flex;
}

.cruiser-container-vertical{
	width: 40px;
	height: 120px;
	background-color: purple;
	margin: 10px;
	display: flex;
	flex-wrap: wrap;
}

.battleship-container{
	width: 160px;
	height: 40px;
	background-color:aquamarine;
	margin: 10px;
	display: flex;
}

.battleship-container-vertical{
	width: 40px;
	height: 160px;
	background-color: aquamarine;
	margin: 10px;
	display: flex;
	flex-wrap: wrap;
}

.carrier-container{
	width: 200px;
	height: 40px;
	background-color:green;
	margin: 10px;
	display: flex;
}

.carrier-container-vertical{
	width: 40px;
	height: 200px;
	background-color: green;
	margin: 10px;
	display: flex;
	flex-wrap: wrap;
}

.ship div {
	width: 40px;
	height: 40px;
}

.destroyer {
	background-color: orange;
}

.submarine {
	background-color: pink;
}

.cruiser {
	background-color: purple;
}

.battleship {
	background-color: aqua;
}

.carrier {
	background-color: green;
}

.hit{
	background-color: red;
}

.miss{
	background-color: black;
}
